
body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

#badges {
  text-align: center;
}

.course {
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #EAEAEA;
  display: inline-block;
  height: 350px;
  margin: 20px 10px;
  padding: 15px 10px;
  width: 200px;
}

.course h3 {
  color: #999;
  font-size: 1.9rem;
  font-weight: 200;
  min-height: 80px;;
}

.course img {
  border: none;
  height: 150px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 150px;
}

.course a {
  display: block;
}

#user-badges {
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #EAEAEA;
  display: inline-block;
  height: auto;
  margin: 20px 10px;
  padding: 15px 10px;
  width: 100%;
}

.user-badge, .linked-badge{
  float: left;
  width: 5%;
  min-width: 55px;
  box-sizing: border-box;
  margin: 5px 0;
  overflow: hidden;
}

.linked-badge .user-badge{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.user-badge img{
  width: 30px;
  height: auto;
}

.user-badge p{
  color: #999;
  font-size: 0.9rem;
  font-weight: 200;
  min-height: 80px;
  padding: 2px;
  text-shadow: 1px black;
  word-break: break-all;
}

h1, h2 {
  text-align: center;
  color: #999;
  font-weight: 200;
}

.group-0 {
  background: #D47272;
}

.group-1 {
  background: #D5FFE3;
}

.group-2 {
  background: #3E3958;
}

.group-3 {
  background: #FBFF87;
}

.group-4 {
  background: #FFCFF5;
}

.group-5 {
  background: #79D2E0;
}

.group-6 {
  background: #D7DADB;
}

.group-7 {
  background: #4E3737;
}

